
body{

  color:#1500a2;
}

/*fonts*/

nav{
	position: fixed;
	z-index: 100;
	margin: 0;
	padding: 0;
	width: 100%;
  height:3em;
	text-align: center;
	background:white;
  transition: top .2s ease-in;
}
nav ul {
 display: flex; /* enables flexbox*/
  width: 100%;
}

  nav li {
    flex:1;
    justify-content: space-between;
    font-weight: 700;
    color: #1500a2;
    line-height: 3em;
}

.js-nav-scrolling{
     top: -3em; /* Height of the header */
    }
.content{
  display:block;
  width:95%;
  color:white;
  max-width: 800px;
  margin: 0 auto;
  padding-top:1rem;
}
.section{
  display:flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  flex: 1 1;
	width: 100%;
  padding-bottom: 5%;
	border-bottom:1.5px solid #1500a2;
}
/*projects*/
.blended{
  background-color:#1500a2;
  background-blend-mode: lighten;
}
.section_project{
	width:auto;
	height:33%;
	margin-top:5%;
	display:flex;
	align-items:center;
	justify-content: center;
  	background-size: cover;
  	background-repeat: no-repeat;
    background-position: 50% 50%;
}


.text_border{
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  color:white;
  background-color:#1500a2;
  padding:1.1em;
}

/*about*/
#about{

}
.section_about{
  padding-top: 1em;
	height: auto;
	line-height: 1.5em;
	background-color: white;
	color: #1500a2;
}
.textbox_about{
  padding-left:1em;
  padding-top: 1em;
  padding-right:1em;


}

/*CV*/
#Contact{
    border-bottom: 1.5px solid white;
}
.section_contact{
  vertical-align: baseline;
  padding:1em;
	height: auto;
	line-height: 1.5em;
	background-color: white;
  color: #1500a2;
}
.section_contact a:after {
    content: '→';
    display: inline;
    padding-left: 1rem;
    font-weight: bold;
}
.section_contact a:hover:after {
    padding-left: 2rem;
}
footer{
  background: rgba(21,0,162,0.15);
  padding: 2rem 0;
  margin-top: 1.5rem;
  position: relative;

}
footer .container{
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  line-height: 1.5em;
  color: #1500a2;
}
footer .container p{
padding-bottom: 0.8rem;
}
footer #extracolour{
  color:#0a1c42;
}
