/*navigation*/
body{
  ;
}
.invis{
 display: none; 
}
nav{
	position: relative;
	z-index: 100;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
<<<<<<< HEAD
	background: #FBCE03;
=======
	background: #FFC52C;
>>>>>>> origin/master
}
nav ul {
 display: flex; /* enables flexbox*/
  width: 100%;
}

  nav li {
    flex:1;
    justify-content: space-between;
    font-weight: 700;
    color: white;
  }
  /* unvisited link */
    .navigation li a:link {
        color: white;
    }
    /* visited link */
    .navigation li a:visited {
        color: white;
    }
    /* mouse over link */
    .navigation li a:hover {
        color: white;
    }
    /* selected link */
    .navigation li a:active {
        color: white;
    }
.content{
	display:flex;
		-webkit-flex-direction: column;
		flex-direction: column;
  width:100%;
<<<<<<< HEAD
  color:#E7EDEA;
=======
  height:100%;
  background:white;
>>>>>>> origin/master
}
.section{
	width: 100%;
	background:green;
	margin-bottom: 1%;
	border-bottom:1px solid #d3d3d3;
}
/*projects*/
#projects{
		-webkit-flex-direction: column;
		flex-direction: column;
}
.section_project{
	width:100%;
	background:blue;
	height:25%;
	margin-top:5%;
	display:flex;
	align-items: center;
	justify-content: center;
}
/*about*/
#about{

}
.section_about{
		height: auto;
		padding: 1em;
		line-height: 1.5em;
		background-color: white;
		color: #5d5d5d;
}
